# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system specific files
.DS_Store
Thumbs.db

# Ignore build directories
build/
dist/
*.egg-info/